.l-navbar{
    z-index: 1000;
}

.home-title-color{
    color: rgb(64, 112, 224);
}

.home-title-text{
    font-weight: bold;   
}

.img-sty{
    max-width: 40px;
    border-radius: 50%;
}

.btn-sty-1 .btn-sty-2 .btn-sty-3 img{
    transition: 0.3s;
}

.btn-sty-1 img:hover{
    box-shadow: 0px 4px 25px 0 rgba(49, 140, 196, 0.75);
}

.btn-sty-2 img:hover{
    box-shadow: 0px 4px 25px 0 rgba(6, 6, 6, 0.75);
}

.btn-sty-3 img:hover{
    box-shadow: 0px 4px 25px 0 rgba(255, 0, 0, 0.75);
}

.ic-siz{
    max-height: 35px;
  }
  
.ic-box{
    border: solid rgb(64, 112, 224);
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0 rgba(49, 140, 196, 0.75);
    text-align: start;
}

/* NAV-BAR CSS */

.navbar-logo {
    max-height: 50px;
  }
.nav-item{
    font-size: 17px;
}


.nav-link{
    color: rgb(0, 0, 0);
    display: inline-block;
    max-width: 120px;
    padding: 5px;
    margin: 3px;
    text-align: center;
    
 }

  /* skill section responsive */

  .icon{
    justify-content: center;
  }

  .icon ul{
    min-width: 200px;
  }

  .icon h3{
    min-width: 200px;
  }
  
  .icon .sk-img{
    min-width: 200px;
  }

